<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/Admin" class="brand-link text-center">
        <span class="brand-text font-weight-light">Admin</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item">
                    <a href="/Admin" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a>
                </li>
                <li class="nav-item"><a href="/Admin/Admin/Student" class="nav-link"><i class="nav-icon fas fa-user-graduate"></i><p>Students</p></a></li>
                <li class="nav-item"><a href="/Admin/Admin/Course" class="nav-link"><i class="nav-icon fas fa-book"></i><p>Courses</p></a></li>
                <li class="nav-item"><a href="/Admin/Admin/Department" class="nav-link"><i class="nav-icon fas fa-building"></i><p>Departments</p></a></li>
                <li class="nav-item"><a href="/Admin/Admin/Class" class="nav-link"><i class="nav-icon fas fa-chalkboard"></i><p>Classes</p></a></li>
                <li class="nav-item"><a href="/Admin/Admin/Enrollment" class="nav-link"><i class="nav-icon fas fa-clipboard-list"></i><p>Enrollments</p></a></li>
            </ul>
        </nav>
    </div>
</aside>
